<form method = "post" action = "/" >
	<input type = "text" id = "url" name = "url" value = "<%= @url || 'url' %>">
	<input type = "text" id = "key" name = "key" value = "<%= @shortened || 'key' %>">
	<input type = "submit" value = "aplica">
</form>

<% if @shortened %>
	<p>La url fue acortada a : <a href="/<%= @shortened %>" target="_blank"> <%= @shortened %> </a></p>
<% end%>
